
//
// VARIABLES
//

// Colors
$blue: #335C67;
$champaign: #FFF3B0;
$indianyellow: #E09F3E;
$auburn: #9E2A2B;
$rosewood: #540B0E;


// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}